* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #193DF0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/*Navigation styles*/
header {
    background-color: #DDE3FD;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
}

nav {
    position: absolute;
    text-align: left; 
    top: 100%;
    left: 0; 
    background-color:#091034;
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #091034;
}

nav li {
    margin-bottom: 1em; 
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none; 
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #091034;
}

.nav-toggle:checked~nav{
    display: block;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute; 
    top: 0;
    left: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #091034;
    height: 2px;
    width: 2em;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

#logo {
    font-size: auto;

}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    top: 4rem;
    margin-bottom: 30px;
}

#budapest {
    height: 100vh;
    width: 100%;
    background: url("../images/pexels-diego-f-parra-15552948.jpg") no-repeat center center/cover;
    background-color: #193DF0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -30px;
}

#text-overlay {
    position: relative;
    top: 50%; /* Adjust this value to vertically center the text*/ 
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text perfectly */
    color: #DDE3fD;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #091034;   
    padding: 20px;
}

.introduction {
    color: #DDE3FD;
    margin-top: 2rem;
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin-bottom: 15px;
    padding: 20px;
}

.introduction h2 {
    text-decoration: underline;
    font-size: 2rem;
}

/*Chainbridge*/
.chainbridge {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.image {
    flex: 1;
    margin-top: 2rem;
}

.image img {
    width: 50vh;
    height: auto;
    display: block;
}

.text {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
}

/*Parliament*/
.parliament {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
}

.image-parl {
    flex: 1;
    margin-top: 2rem;
}

.image-parl img {
    width: 50vh;
    height: auto;
    display: block;
}

.text-parl {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
}
/*Castle*/
.castle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.image-castle {
    flex: 1;
    margin-top: 2rem;
}

.image-castle img {
    width: 50vh;
    height: auto;
    display: block;
}

.text-castle {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
}
/*Matthias Church*/
.matthias-church {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.image-matt {
    flex: 1;
    margin-top: 2rem;
}

.image-matt img {
    width: 50vh;
    height: auto;
    display: block;
}

.text-matt {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
}
/*Szimpla*/
.szimpla {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.szimpla-image {
    flex: 1;
    margin-top: 2.5rem;
}

.szimpla-tv {
    flex: 1;
    margin-top: 2rem;
}
.szimpla-image img {
    width: 50vh;
    height: auto;
    display: block;
}

.szimpla-tv img {
    width: 50vh;
    height: auto;
    display: block;
}

.szimpla-text {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.szimpla-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

/*Gellert Hotel*/
.gellert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.gellert-image {
   flex: 1;
    margin-top: 2rem;
}

.gellert-hotel {
    flex: 1;
    margin-top: 2rem;
}
.gellert-image img {
    width: 50vh;
    height: auto;
    display: block;
}

.gellert-hotel img {
    width: 50vh;
    height: auto;
    display: block;
}

.gellert-text {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.gellert-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

/*Szechenyi*/
.szechenyi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.szechenyi-image {
    flex: 1;
    margin-top: 2rem;
}

.szechenyi-image img {
    width: 50vh;
    height: auto;
    display: block;
}

.szechenyi-pool img {
    width: 50vh;
    height: auto;
    display: block;
}

.szechenyi-text {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.szechenyi-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

/*Market*/
.market {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.market-image {
    flex: 1;
    margin-top: 2rem;
}

.market-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 2px;
    margin-right: auto;
}
.market-image img {
    width: 50vh;
    height: auto;
    display: block;
}

.market-two img {
    width: 50vh;
    height: auto;
    display: block;
}

.market-text {
   flex: 1;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.market-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

/*Gallery (from love running project)*/

#gallery {
    margin-top: 3.2rem;
}
#photo img {
    width: 100%;
    line-height: 1em;
    column-fill: balance;
}

#photo {
    line-height: 0;
}
/*Contact*/
.bg-image {
    width: 100%;
    height: 100vh;
    background: url("../images/dan-novac-SRxqOaWRK6g-unsplash.jpg") no-repeat center center/cover;
}

.contact {
    margin-top: 4rem;
    color: #DDE3FD;
    background-color: #091034;
    padding: 20px;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

.contact h2 {
    text-decoration: underline;
}

.subscribe {
    color: #DDE3FD;
    padding: 20px;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

.subscribe h2 {
    text-decoration: underline;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    color: #DDE3FD;
    line-height: 1.4rem;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #DDE3FD;
    border-radius: 4px;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #091034;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #193DF0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message {
    color: green;
    background: url("/assets/images/daniel-olah-E-gmKpeD2dk-unsplash.jpg") center center/cover;
    height: 100vh;
    width: 100%;
}

.sub-text {
    margin-top: 20rem;
    font-size: 20px;
    line-height: 1.4rem;
}

footer {
    background-color: #091034;
    position: fixed;
    bottom: 0;
    margin-top: -20px;
    width: 100%;
}

#social-media {
    text-align: center; 
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    color: #DDE3FD;
}
@media screen and (min-width: 576px) {
    /*Gallery based on love running code*/
    #photo {
        column-count: 2;
        column-gap: 0;
    }
}
@media screen and (min-width: 768px) {
    .image-parl img {
        width: 75vh;
    }

    .image-castle img{
        width: 75vh;
    }
    .image-matt img {
        width: 75vh;
    }
    .szimpla-image img {
        width: 75vh;
    }
    .szimpla-tv img {
        width: 75vh;
    }
    .gellert-image img {
        width: 75vh;
    }
    .gellert-hotel img {
        width: 75vh;
    }
    .szechenyi-image img {
        width: 75vh;
    }
    .szechenyi-pool img {
        width: 75vh;
    }
    .market-image img {
        width: 75vh;
    }
    .market-two img {
        width: 75vh;
    }

    /*Gallery based on love running code*/
    #photo {
        column-count: 2;
    }

    .matt-bg {
        height: 395px;
    }
}

@media screen and (min-width: 992px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        padding: 0 1rem;
        position: fixed;
        z-index: 99;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        display: flex;
        align-items: last baseline;
    }

    #budapest {
        align-self: center;
    }

    #text-overlay {
        opacity: 0;
        transition: opacity 0.5s;
        cursor: pointer;
        background-color: #193DF0;
    }

    #text-overlay:hover {
        opacity: 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        align-items: flex-end;
        margin-right: 10px;

    }

    nav a {
        opacity: 1;
    }
    nav li a:hover{
        text-decoration: underline;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: last baseline;
    }
   /*Chainbridge*/
.chainbridge {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    min-height: 100vh;
    width: 100%
   
}

.image {
    flex: 1;
    margin-top: 2rem;
}

.text {
    flex: 1;
    flex-direction:column;
    padding: 20px;
    margin-top: 10rem;
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.text h2 {
    margin-bottom: 1rem;
}


/*Parliament*/
.parliament {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    min-height: 100vh;
    width: 100%
}

.image-parl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10x;
    height: 50vh;
    flex: wrap;
}
.text-parl {
    display: flex;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: transateY(-50%);
    width: 50%;
    flex-direction: column;
    padding: 20px;
    margin-top: 40rem;
    color: #DDE3FD;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.text-parl h2 {
    margin-bottom: 1rem;

}

/*Castle*/
.castle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    min-height: 100vh;
    width: 100%
}

.image-castle {
    flex: 1;
    margin-top: 7rem;
}

.image-castle img {
    width: 60vh;
    height: auto;
    display: block;
    margin-top: 10rem;
}

.text-castle {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20rem;
    margin-right: 10rem;
    color: #DDE3FD;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.text-castle h2 {
    margin-bottom: 1rem;
}

 p {
    line-height: 1.4em;
    text-align: justify;
}

/*Matyas Templom*/
.matthias-church {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    min-height: 100vh;
    width: 100%
}

.image-matt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: wrap;
}


.text-matt {
    display: flex;
    position: absolute;
    left: 20px;
    transform: transateY(-50%);
    width: 50%;
    flex-direction: column;
    padding: 20px;
    color: #DDE3FD;
    margin-top: 5rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.text-matt h2 {
    margin-bottom: 1rem;
}

/*Original media query rules*/

.szimpla {
    display: flex;
    flex-direction: row;
  }
  
  .szimpla-image {
    flex: auto;
    max-width: 50%;
    margin-top: 4rem;
    max-height: 40vh;
  }

  .szimpla-tv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    margin-right: auto;
    margin-top: 4rem;
  }

  .szimpla-image img {
    width: 50vh;
    height: auto;
    display: block;
    margin-top: 4rem;
  }

  .szimpla-tv img {
    width: 50vh;
    height: auto;
    display: block;
  }

  .szimpla-text {
    flex: 6;
    max-width: 50%;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    line-height: 1.4rem;
    font-size: 1.4rem;
    margin-top: 4rem;
}
.szimpla-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}
/*Gellert*/
.gellert {
    display: flex;
    flex-direction: row;
  }
  
  .gellert-image {
    flex: auto;
    max-width: 50%;
    margin-top: 2rem;
    max-height: 40vh;
  }

  .gellert-hotel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    margin-right: auto;
  }

  .gellert-image img {
    width: 50vh;
    height: auto;
    display: block;
    margin-top: 4rem;
  }

  .gellert-hotel img {
    width: 50vh;
    height: auto;
    display: block;
    margin-top: 5rem;
  }

  .gellert-text {
    flex: 4;
    max-width: 50%;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    line-height: 1.4rem;
    font-size: 1.4rem;
}
.gellert-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}
/*Szechenyi*/
.szechenyi {
    display: flex;
    flex-direction: row;
  }
  
  .szechenyi-image {
    flex: auto;
    margin-top: 2rem;
    max-height: 40vh;
    max-width: 40%;
  }

  .szechenyi-pool {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    margin-right: auto;
  }

  .szechenyi-image img {
    width: 50vh;
    height: auto;
    display: block;
    margin-top: 4rem;
  }

  .szechenyi-pool img {
    width: 50vh;
    height: auto;
    display: block;
    margin-top: 5rem;
  }

  .szechenyi-text {
    flex: 6;
    max-width: 50%;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    line-height: 1.4rem;
    font-size: 1.4rem;
  }

.szechenyi-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}
/*Market*/
.market {
    display: flex;
    flex-direction: row;
  }
  
  .market-image {
    flex: auto;
    max-width: 50%;
    margin-top: 2rem;
    max-height: 40vh;
  }

  .market-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    margin-right: auto;
  }

  .market-image img {
    width: 50vh;
    height: auto;
    display: block;
    margin-top: 4rem;
  }

  .market-two img {
    width: 50vh;
    height: auto;
    display: block;
    margin-top: 5rem;
  }

  .market-text {
    flex: 6;
    max-width: 50%;
    padding: 20px;
    margin-top: 2rem;
    color: #DDE3FD;
    line-height: 1.4rem;
    font-size: 1.4rem;
}
.market-text h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

 /*Gallery based on love running code*/
 #photo {
    column-count: 4;
 }
 .basilica {
    height: 560px;
 }

 .basilica-night {
    height: 600px;
 }

 .lanzhid {
    height: 950px;
 }
 .matt-bg {
    height: 420px;
 }

 .fog {
    height: 970px;
 }
}