* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: rgba(85, 214, 170, .85);
}

body {
    margin: 0;
    background: #222;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/*.content {
    height: 200vh;
    background-image: url("./images/pexels-diego-f-parra-15552948.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}*/

/*Navigation styles*/
header {
    background-color: var(--background);
    text-align: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

nav {
    position: absolute; 
}

main {
    height: 200vh;
    background-image: url("./images/pexels-diego-f-parra-15552948.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(85, 214, 170, .85);
    display: grid;
    place-items: center;
}