* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/*Navigation styles*/
header {
    background-color: rgba(85, 214, 170, .85);
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
}

nav {
    position: absolute;
    text-align: left; 
    top: 100%;
    left: 0; 
    background-color:rgba(85, 214, 170, .85);
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(85, 214, 170, .85);
}

nav li {
    margin-bottom: 1em; 
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none; 
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked~nav{
    display: block;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute; 
    top: 0;
    left: 0;
    margin-right: 1em;
    border: 1px solid red;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: whitesmoke;
    height: 2px;
    width: 2em;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    top: 4rem;
    margin-bottom: 30px;
}
#budapest {
    height: 100vh;
    width: 100%;
    background: url("../images/pexels-diego-f-parra-15552948.jpg") no-repeat center center/cover;
    background-color: rgba(85, 214, 170, .85);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -30px;
}

#text-overlay {
    position: relative;
    top: 50%; /* Adjust this value to vertically center the text*/ 
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text perfectly */
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(85, 214, 170, .85); 
    background-color: rgba(85, 214, 170, 0.85);
    padding: 20px;
}
/*Chainbridge*/
.chainbridge {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    width: 100%
}

.image {
    flex: 1;
    margin-top: 2rem;
}

.image img {
    width: 30vh;
    height: auto;
    display: block;
}

.text {
    flex: 1;
    flex-direction:column;
    padding: 20px;
    margin-top: 2rem;
    color: #ffffff;
}

.text h2 {
    margin-bottom: 1rem;
}

p {
    line-height: 1.5em;
}
/*Parliament*/
.parliament {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    width: 100%
}

.image-parl {
    flex: 1;
    margin-bottom: 2rem;
}

.image-parl img {
    width: 60vh;
    height: auto;
    display: block;
}

.text-parl {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 2.5rem;
    color: #ffffff;
}

.text-parl h2 {
    margin-bottom: 1rem;
}

.text-parl p {
    line-height: 1.5em;
    text-align: justify;
}

/*Castle*/
.castle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    width: 100%
}

.image-castle {
    flex: 1;
    margin-bottom: 2rem;
}

.image-castle img {
    width: 60vh;
    height: auto;
    display: block;
}

.text-castle {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 2.5rem;
    color: #ffffff;
}

.text-castle h2 {
    margin-bottom: 1rem;
}

.text-castle p {
    line-height: 1.5em;
    text-align: justify;
}

/*Matyas Templom*/
.matthias-church {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    width: 100%
}

.image-matt {
    flex: 1;
    margin-bottom: 2rem;
}

.image-matt img {
    width: 55vh;
    height: auto;
    display: block;
}

.text-matt {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #ffffff;
}

.text-matt h2 {
    margin-bottom: 1rem;
}

.text-matt p {
    line-height: 1.5em;
    text-align: justify;
}

footer {
    background-color: rgba(85, 214, 170, 0.85);
    position: fixed;
    bottom: 0;
    margin-top: -20px;
    width: 100%;
}

#social-media {
    text-align: center; 
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    color: white;
}


@media screen and (min-width: 992px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        padding: 0 1rem;
        position: fixed;
        z-index: 99;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        display: flex;
        align-items: last baseline;
    }

    #budapest {
        align-self: center;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        align-items: flex-end;
        margin-right: 10px;

    }

    nav a {
        opacity: 1;
    }
    nav li a:hover{
        text-decoration: underline;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: last baseline;
        }
        
        /*Chainbridge*/
      .chainbridge {
        flex-direction: row; 
    }

    .image {
        flex: 1;
    }

    .text {
        flex: 1;
        padding: 20px;
        margin-top: 2rem;
        color: #ffffff;
        flex-direction: column;
        margin-right: 5rem;
    }
    
    /*Parliament*/
    .parliament {
        flex-direction: row;
    }
    
    .image-parl {
        flex: 1;
        margin-top: 3rem;
    }
    
    .text-parl {
        flex: 1;
        padding: 20px;
        margin-top: 2rem;
        color: #ffffff;
        flex-direction: column;
        overflow:hidden;
        margin-right: 5rem;
    }

        .text-parl p {
            margin-left: 20px;
        }


        p {
            line-height: 1.4rem;
        }
        
        /*Castle*/
        .castle {
         flex-direction: row;
        }
        
        .image-castle {
            flex: 1;
            margin-top: 3rem;
        }
        
        .text-castle {
            flex: 1;
            padding: 20px;
            margin-top: 2rem;
            color: #ffffff;
            flex-direction: column;
        }

        .text-castle p {
            margin-left: 20px;
        }
        
        /*Matyas Templom*/
        .matthias-church {
          flex-direction: row;
        }
        
        .image-matt {
            flex: 1;
            margin-top: 3rem;
        }
        
        .text-matt {
            flex: 1;
            padding: 20px;
            margin-top: 2rem;
            color: #ffffff;
            flex-direction: column;
        }

        .text-matt p{
            margin-right: 20px;
        }

        p{
            line-height: 1.4rem;
        }
}